<h1>Create Student</h1>
<a href="/admin/index/student">go back</a>

<form action="/upload" method="post" enctype="multipart/form-data">
    <label for="csvfile">CSV File:</label>
    <input type="file" name="csvfile" id="csvfile" accept=".csv">
    <button type="submit">Upload CSV</button>
</form>
