<h1>index teacher</h1>

<a href="/admin/create-teacher-account"><button>Create a Teacher Profile</button></a>

<table border="1">
    <tr>
        <th>Teacher ID</th>
        <th>Teacher Name</th>
        <th>Department</th>
        </tr>
</table>