<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Change</title>
</head>
<body>
    <h1>Password Change</h1>

    <% if (typeof error !=='undefined' && error ) { %>
        <script>
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '<%= error %>',
            });
        </script>
        <% } %>

        <!-- The change password didnt work if the new and confirm password does not match -->


    <form id="changePasswordForm" method="post" action="/student/change-password"  >
        <label for="studentID">Student ID:</label>
        <input type="text" name="studentID" readonly value="<%= studentid %>"><br>

        <label for="oldPassword">Old Password:</label>
        <input type="password" name="oldPassword" required><br>

        <label for="newPassword">New Password:</label>
        <input type="password" name="newPassword" required><br>

        <label for="confirmPassword">Confirm Password:</label>
        <input type="password" name="confirmPassword" required><br>

        <button type="submit">Change Password</button>
    </form>





</body>
</html>