<h1> <%= subjectData.subjectname %> - <%= subjectData.sectionname %> > Home</h1>

<h1>Announcements</h1>
<h1>Classmates</h1>
<h1>Assignments</h1>
<a href="/student/view/lessons">View Lessons</a>
<h1>Lessons</h1>