<h1>Create Announcement</h1>

<form action="/teacher/announcement/create" method="post">

    <label for="announcementTitle">Announcement Title</label><br>
    <input type="text" name="announcementTitle" id="announcementTitle"><br><br>

    <label for="announcement">Announcement Content</label><br>
    <textarea name="announcement" id="announcement" rows="4" cols="50"></textarea><br><br>

    <select name="visibility" id="visibility">
        <option value="" default selected disabled>Select Announcement Visibility</option>
        <option value="Visible">Visible</option>
        <option value="Invisible">Invisible</option>
    </select><br><br>
    
    <input type="submit" value="Create Announcement">

</form>
