<h1>Subject: <%= sectionname %> - <%= subjectname %></h1>
<h1>teacher: <%= teacherid %></h1>

<h1><a href="/teacher/announcement/">Announcements</a><br></h1>
<h1><a href="/teacher/lesson/modules">Lesson Modules</a><br></h1>
<h1><a href="/teacher/view/students">Students</a></h1>
<h1><a href="/teacher/create/attendance">Attendance</a></h1>
