<h1>Create Announcement</h1>

<form action="/teacher/announcement/create" method="post">

    <label for="">Announcement</label><br>
    <input type="text" name="announcement" id="announcement"><br><br>

    <select name="visibility" id="visibility">
        <option value="" default selected disabled>Select Department Visibility</option>
        <option value="Visible">Visible</option>
        <option value="Invisible">Invisible</option>
    </select><br><br>
    <input type="submit" value="Create Announcement">

</form>