<h1>Subject overview</h1>

<form action="/teacher/subjectoverview/create" method="post">
        <input type="text" name="overview" id="overview">
        <button type="submit">Create Subject Overview</button>
</form>