<h1>Edit Announcement</h1>

<form action="/teacher/announcement/edit/<%= announcement.id %>" method="post">
    <label for="announcementTitle">Announcement Title</label><br>
    <input type="text" name="announcementTitle" id="announcementTitle"
        value="<%= announcement.announcementTitle %>"><br><br>

    <label for="announcement">Announcement Content</label><br>
    <textarea name="announcement" id="announcement" rows="4" cols="50"><%= announcement.announcement %></textarea><br><br>

    <select name="visibility" id="visibility">
        <option value="" disabled>Select Announcement Visibility</option>
        <option value="Visible" <% if (announcement.visibility==='Visible' ) { %>selected<% } %>>Visible</option>
        <option value="Invisible" <% if (announcement.visibility==='Invisible' ) { %>selected<% } %>>Invisible</option>
    </select><br><br>

    <input type="submit" value="Update Announcement">
</form>
