:root {
  --primary-bg-color: #4A55A2;
  --secondary-bg-color: #f5f5f5;
  --border-color: #e0e0e0;
  --text-color-primary: #000000;
  --text-color-secondary: #0000ff;
  --font-family: Helvetica, Arial, sans-serif;
  --box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--font-family);
  background-color: var(--secondary-bg-color);
}

.login-page {
  display: flex;
  align-items: center;
  height: 100vh;
}

.bg-white {
  transition: box-shadow 0.3s ease-in-out;
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
}

.bg-white:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

h4,
.form-left label {
  font-weight: 500;
  color: var(--primary-bg-color);
}

.input-group-text,
.form-control {
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
}

.form-control:focus {
  border-color: rgb(83, 84, 85);
  box-shadow: 0 0 0 0.125rem rgba(0, 123, 255, 0.25);
}

.btn-custom-color {
  color: #fff;
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}

.btn-custom-color:hover,
.btn-custom-color:focus,
.btn-custom-color:active {
  background-color: darken(var(--primary-bg-color), 10%);
  border-color: darken(var(--primary-bg-color), 10%);
}

.form-right {
  background-color: var(--primary-bg-color);
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-right h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.logo-image {
  max-width: 300px;
  height: auto;
}

/* Modal styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
  
.navbar {
  background-color: #ffffff;
  color: var(--primary-bg-color);
  font-family: var(--font-family);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand {
  font-size: 1.4em;
  color: var(--primary-bg-color);
  margin-left: 30px;
}

.nav-link {
  color: var(--primary-bg-color);
  font-size: 1em;
  transition: color 0.2s ease-in-out;
}

.fas,
.far {
  margin-right: 5px;
  color: var(--primary-bg-color);
}

.navbar-nav {
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

@media (max-width: 992px) {
  .navbar-nav {
    margin-top: 15px;
  }
}

.nav-text {
  display: none;
  margin-left: 5px;
  transition: display 0.3s ease-in-out;
}

.nav-item:hover .nav-text {
  display: inline;
}

.navbar-brand:hover {
  color: var(--primary-bg-color);
  text-decoration: none;
  
}