

/* For the container */





h1 {
    text-align: center;
    color: #007BFF;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.module-links {
    text-align: center;
}

/* Style for the button container */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
}

/* Style for the ghost button */
.ghost-button {
  background-color: transparent; /* Transparent background */
  border: 2px solid #007bff; /* Colored border */
  color: #007bff; /* Text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Hover effect */
  transition: background-color 0.3s, color 0.3s;
}

/* Hover effect */
.ghost-button:hover {
  background-color: #007bff; /* Background color on hover */
  color: #fff; /* Text color on hover */
}
